{% extends "app/base.html" %}
{% load url from future %}
{% load i18n static %}

{% block extra_head %}

  <link rel="stylesheet" href="{{ STATIC_URL }}likert/bootstrap-star-rating/css/star-rating.min.css" media="screen, projector, print" type="text/css">

{% endblock %}



{% block content %}


<div class="jumbotron" align="middle">
  <h1 align="middle">Listen, judge.</h1>
  <p align ="middle">High quality, LIVE Pow Wow music collected from Youtube using Big Data Analytics.</p>

</div>




{% endblock %}
